PORT=5000
FRONTEND_URL=http://localhost:3000

# Supabase
SUPABASE_URL=https://ptiqmeszkhjvynitflve.supabase.co
SUPABASE_SERVICE_KEY=your_service_role_key_here

# Firebase Admin
FIREBASE_PROJECT_ID=wanes-20e41
FIREBASE_PRIVATE_KEY=your_private_key_here
FIREBASE_CLIENT_EMAIL=your_client_email_here
